/******************************************************************
Site Name: VCUarts Email Gen 2015
Author: VCUarts Web Dev Team

Stylesheet: Main Stylesheet
******************************************************************/

@import "color";
@import "reset";

* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

//let's reset all the good good
table, td, tr, thead, tbody {
  border-spacing: 0;
  padding:0;
  margin:0;
}

#backgroundTable {
  overflow: hidden;
}

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display:block!important;
  max-width:600px!important;
  margin:0 auto!important; /* makes it centered */
  clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  padding:25px;
  max-width:600px;
  margin:0 auto;
  display:block;
  background-color: $white;

  &.browser-view {
    background-color: $background;
    padding: 10px 0;
    font-size: 12px;
  }
}

.header-logo {
  display:block;
  background:white;
  padding: 40px 0 0 0;
  width:100%;

  img {
    margin-left:11px;
  }
}

.column {
  width: 245px;
  float:left;

  &.column-one {
    padding-right: 20px;
    clear: left;
  }
  &.column-two {
    padding-left: 20px;
  }

  // 3 Column Grid
  &.column-first, &.column-mid, &.column-last {
    width: 180px;
  }
  &.column-first {
    padding-right: 20px;
    clear: left;
  }
  &.column-last {
    padding-left: 20px;
  }
}
.full-width {
  width: 100%;
  display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }

table.head-wrap, table.body-wrap, table.footer-wrap { width: 100%; }


/* ------------------------------------- 
    TYPOGRAPHY 
------------------------------------- */

h1,h2,h3,h4,h5,h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:$black;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: $dk-gray; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:200; font-size: 24px; line-height:32px; margin-top:0;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:$lt-black;}

//for when people stick images inside the heading tag
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin-bottom:20px;
  display:block;
}


/* ------------------------------------- 
    ELEMENTS 
------------------------------------- */
a { 
  color: $arts-red;
  text-decoration: none;
  margin:0;
  padding:0;
}

p, ul { 
  margin-bottom: 10px; 
  font-weight: 200; 
  font-size:16px; 
  line-height:28px;
  color: $dk-gray;
}

.email-title {
  font-weight: 200;
  font-size: 27px;
  margin-top: 0;
  margin-bottom:20px;
}

.hero-module {
  img {
    width: 100%;
  }
}

/*  Hero Image Captions */
.img-caption {
  background-color: $lt-gray;
  overflow: hidden;

  p {
    padding-left: 25px; padding-right: 25px;
    font-size: 12px;
  }
}

/*  Social Link Bar */
.social {
  background: $lt-gray;
  margin: 20px 0 0 0;
  padding:20px 0;

  .social-table {
    table-layout: auto;
    width:100%;
    td {
      width:20%;
      text-align: center;
    }
  }
}

/*  How to Apply Section */
.chunks {
  margin: 30px 0 0 0;

  td.column {
    margin-bottom: 35px;
  }
}
.chunk-title {
  margin-top:20px;
}

/*  How to Apply Section */
.how-to-apply {
  text-align: center;
  margin: 0 0 -2px 0;
  a {
    display:block;
    margin:0;
  }
}

/*  Gallery Wrap */
.gallery {
  margin: 20px 0 0 0;

  .column {
    margin-top: 10px;

    &.full-width {
      margin-top: 30px;
    }
  }
}

/*  Gallery Captions */
.caption {
  p {
    font-size: 14px;
  }
}


/* ------------------------------------- 
    FOOTER
------------------------------------- */

.footer {
  background: $dk-gray;
  color: $gray;

  .content {
    background: none;

    p {
      color: $gray;
      font-size:12px;
      line-height:22px;
      margin-bottom:30px;
    }

    a {
      color:white;
    }

    .link-bar {
      margin: 0 0 20px 0;
      color: lighten($dk-gray, 15%);
      p {
        font-size:16px;
      }
    }
  }
}


/* ------------------------------------------- 
    PHONE
    For clients that support media queries.
    Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 600px) {

  .column{width: 100%!important; float:none!important; display: block;}
  .column-one, .column-two, .column-first, .column-mid, .column-last {padding: 0!important;}

}