@import "color";
@import "reset";
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

@media only screen and (max-width: 600px) {
  .column {
    width: 100% !important;
    float: none !important;
    display: block;
  }

  .column-one, .column-two, .column-first, .column-mid, .column-last {
    padding: 0 !important;
    margin-bottom: 50px !important;
  }

  #backgroundTable {
    margin-top: 0 !important;
  }
}

@media only screen and (min-width: 601px) {
  .column {
    display: inline-block !important;
  }

  .column-one, .column-two {
    width: 230px !important;
  }

  .column-one {
    margin-right: 40px !important;
  }

  .container {
    padding: 0 40px !important;
  }
}

$def-border: 5px solid $black;

/*body * {
  font-family: 'Karla', 'Helvetica Neue', Helvetica, sans-serif;
}*/

body {
  max-width: 100% !important;
}

html {
  &:before,
  &:after {
    content: " ";

    /* 1 */
    display: table;

    /* 2 */
  }

  &:after {
    clear: both;
  }

  zoom: 1;
}

//let's reset all the good good
table, td, tr, thead, tbody {
  border-spacing: 0;
  padding: 0;
  margin: 0;
}

#backgroundTable {
  overflow: hidden;
  margin-top: 40px;
}

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block !important;
  max-width: 510px !important;
  margin: 0 auto !important;
  padding: 0 20px;
  clear: both !important;
  border: $def-border;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  margin: 0 auto;
  display: block;
  font-family: Karla, Helvetica Neue, Helvetica, sans-serif;

  &.browser-view {
    background-color: $background;
    padding: 10px 0;
    font-size: 12px;
  }
}

.header-logo {
  display: block;
  padding: 40px 0 40px 0;
  text-align: center;
}

.column {
  width: 100%;
  display: block;

  &.column-one {
    img {
      max-width: 230px !important;
      width: 230px;
    }

    margin-top: 20px;
  }

  &.column-two {
    img {
      max-width: 230px !important;
      width: 230px;
    }

    margin-top: 20px;
  }

  // 3 Column Grid
  &.column-first, &.column-mid, &.column-last {
    float: left;
    width: 180px;
  }

  &.column-first {
    padding-right: 20px;
    clear: left;
  }

  &.column-last {
    padding-left: 20px;
  }
}

.full-width {
  width: 100%;
  border: $def-border;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
  width: 100%;
}

table.head-wrap, table.body-wrap, table.footer-wrap, table.hero-wrap {
  width: 100%;
}

table.head-wrap {
  .container {
    border-bottom: 0;
  }
}

table.body-wrap {
  .container {
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 40px !important;
  }
}

/* ------------------------------------- 
    TYPOGRAPHY 
------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 15px;
  color: $black;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: $dk-gray;
  line-height: 0;
  text-transform: none;
}

h1 {
  font-weight: 700;
  font-size: 44px;
}

h2 {
  font-weight: 700;
  font-size: 37px;
}

h3 {
  font-weight: 400;
  font-size: 27px;
}

h4 {
  font-weight: 400;
  font-size: 23px;
}

h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
}

h6 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: $lt-black;
}

//for when people stick images inside the heading tag
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin-bottom: 20px;
  display: block;
}

/* ------------------------------------- 
    ELEMENTS 
------------------------------------- */
a {
  color: $arts-red;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p, ul {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  color: $dk-gray;
}

.email-title {
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: 700;
}

/*  Hero Image Captions */
.img-caption {
  background-color: $lt-gray;
  overflow: hidden;

  p {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
  }
}

/*  Social Link Bar */
.social {
  margin: 40px 0;

  .social-table {
    table-layout: auto;
    width: 100%;

    td {
      width: 20%;
      text-align: center;
    }
  }

  a {
    display: inline-block;
  }
}

.vcu-footer {
  text-align: center;
  margin-top: 20px;
}

/*  How to Apply Section */
.chunks {
  margin: 30px 0 0 0;

  td.column {
    text-align: center;
    margin-bottom: 35px;
    margin: 0 auto;
  }
}

.chunk-title {
  margin-top: 20px;
}

.chunk-img, .img-border {
  border: $def-border;
}

/*  How to Apply Section */
.how-to-apply {
  text-align: center;
  margin: 0 0 -2px 0;

  a {
    display: block;
    margin: 0;
  }
}

.apply-now {
  text-align: center;
  display: block;
  border: 1px solid $white;
  padding: 15px 20px;
  letter-spacing: 2px;
  margin: 20px 0 40px 0;
}

/*  Gallery Captions */
.caption {
  overflow: hidden;

  p {
    font-size: 12px;
    padding: 0;
    margin: 5px 0 5px 0;
  }
}

/* ------------------------------------- 
    FOOTER
------------------------------------- */
.footer-wrap .container {
  background: $black;
}

.footer {
  color: $white;

  p {
    color: $gray;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  a {
    color: white;
  }

  .link-bar {
    margin: 0 0 20px 0;
    color: lighten($dk-gray, 15%);

    p {
      font-size: 16px;

      a {
        color: white;
      }
    }
  }
}

.hero-wrap + .content {
  padding-top: 20px;
}

.hero-wrap a {
  display: block;
}