/***********
Color Vars
***********/
/*#ededed*/
/***********
Originally based on The MailChimp Reset from Fabio Carneiro, MailChimp User Experience Design
More info and templates on Github: https://github.com/mailchimp/Email-Blueprints
http://www.mailchimp.com &amp; http://www.fabio-carneiro.com

INLINE: Yes.
***********/
/* Client-specific Styles */
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
#outlook a {
  padding: 0; }

/* Force Outlook to provide a "view in browser" menu link. */
body {
  width: 100% !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0; }

/* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
.ExternalClass {
  width: 100%; }

/* Force Hotmail to display emails at full width */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%; }

/* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
  background-color: #FFF; }

/* End reset */
/* Some sensible defaults for images
1. "-ms-interpolation-mode: bicubic" works to help ie properly resize images in IE. (if you are resizing them using the width and height attributes)
2. "border:none" removes border when linking images.
3. Updated the common Gmail/Hotmail image display fix: Gmail and Hotmail unwantedly adds in an extra space below images when using non IE browsers. You may not always want all of your images to be block elements. Apply the "image_fix" class to any image you need to fix.

Bring inline: Yes.
*/
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto; }

.body-wrap img {
  max-width: 510px;
  width: 100%; }

.body-wrap .more-btn {
  width: auto; }

a img {
  border: none; }

.image_fix {
  display: block; }

@media only screen and (max-width: 600px) {
  .column {
    width: 100% !important;
    float: none !important;
    display: block; }
  .column-one, .column-two, .column-first, .column-mid, .column-last {
    padding: 0 !important;
    margin-bottom: 50px !important; }
  #backgroundTable {
    margin-top: 0 !important; } }

@media only screen and (min-width: 601px) {
  .column {
    display: inline-block !important; }
  .column-one, .column-two {
    width: 230px !important; }
  .column-one {
    margin-right: 40px !important; }
  .container {
    padding: 0 40px !important; } }

body * {
  font-family: 'Karla', 'Helvetica Neue', Helvetica, sans-serif; }

body {
  max-width: 100% !important; }

html {
  zoom: 1; }
  html:before, html:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  html:after {
    clear: both; }

table, td, tr, thead, tbody {
  border-spacing: 0;
  padding: 0;
  margin: 0; }

#backgroundTable {
  overflow: hidden;
  margin-top: 40px; }

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block !important;
  max-width: 510px !important;
  margin: 0 auto !important;
  padding: 0 20px;
  clear: both !important;
  border: 5px solid #000; }

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  margin: 0 auto;
  display: block; }
  .content.browser-view {
    background-color: #FFF;
    padding: 10px 0;
    font-size: 12px; }

.header-logo {
  display: block;
  padding: 40px 0 40px 0;
  text-align: center; }

.column {
  width: 100%;
  display: block; }
  .column.column-one {
    margin-top: 20px; }
    .column.column-one img {
      max-width: 230px !important;
      width: 230px; }
  .column.column-two {
    margin-top: 20px; }
    .column.column-two img {
      max-width: 230px !important;
      width: 230px; }
  .column.column-first, .column.column-mid, .column.column-last {
    float: left;
    width: 180px; }
  .column.column-first {
    padding-right: 20px;
    clear: left; }
  .column.column-last {
    padding-left: 20px; }

.full-width {
  width: 100%;
  border: 5px solid #000; }

/* Let's make sure tables in the content area are 100% wide */
.content table {
  width: 100%; }

table.head-wrap, table.body-wrap, table.footer-wrap, table.hero-wrap {
  width: 100%; }

table.head-wrap .container {
  border-bottom: 0; }

table.body-wrap .container {
  border-top: 0;
  border-bottom: 0;
  padding-bottom: 40px !important; }

/* ------------------------------------- 
    TYPOGRAPHY 
------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 15px;
  color: #000; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #272727;
  line-height: 0;
  text-transform: none; }

h1 {
  font-weight: 700;
  font-size: 44px; }

h2 {
  font-weight: 700;
  font-size: 37px; }

h3 {
  font-weight: 400;
  font-size: 27px; }

h4 {
  font-weight: 400;
  font-size: 23px; }

h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0; }

h6 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #444; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin-bottom: 20px;
  display: block; }

/* ------------------------------------- 
    ELEMENTS 
------------------------------------- */
a {
  color: #EE3440;
  text-decoration: none;
  margin: 0;
  padding: 0; }

p, ul {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  color: #272727; }

.email-title {
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: 700; }

/*  Hero Image Captions */
.img-caption {
  background-color: #e3e3e3;
  overflow: hidden; }
  .img-caption p {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px; }

/*  Social Link Bar */
.social {
  margin: 40px 0; }
  .social .social-table {
    table-layout: auto;
    width: 100%; }
    .social .social-table td {
      width: 20%;
      text-align: center; }
  .social a {
    display: inline-block; }

.vcu-footer {
  text-align: center;
  margin-top: 20px; }

/*  How to Apply Section */
.chunks {
  margin: 30px 0 0 0; }
  .chunks td.column {
    text-align: center;
    margin-bottom: 35px;
    margin: 0 auto; }

.chunk-title {
  margin-top: 20px; }

.chunk-img, .img-border {
  border: 5px solid #000; }

/*  How to Apply Section */
.how-to-apply {
  text-align: center;
  margin: 0 0 -2px 0; }
  .how-to-apply a {
    display: block;
    margin: 0; }

.apply-now {
  text-align: center;
  display: block;
  border: 1px solid #FFF;
  padding: 15px 20px;
  letter-spacing: 2px;
  margin: 20px 0 40px 0; }

/*  Gallery Captions */
.caption {
  overflow: hidden; }
  .caption p {
    font-size: 12px;
    padding: 0;
    margin: 5px 0 5px 0; }

/* ------------------------------------- 
    FOOTER
------------------------------------- */
.footer-wrap .container {
  background: #000; }

.footer {
  color: #FFF; }
  .footer p {
    color: #BCBDC0;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 30px; }
  .footer a {
    color: white; }
  .footer .link-bar {
    margin: 0 0 20px 0;
    color: #4d4d4d; }
    .footer .link-bar p {
      font-size: 16px; }
      .footer .link-bar p a {
        color: white; }

.hero-wrap + .content {
  padding-top: 20px; }

.hero-wrap a {
  display: block; }
