@import url(https://fonts.googleapis.com/css?family=Karla);
h1,h2{font-weight:200}
a,img{text-decoration:none}
#outlook a{padding:0}
body{width:100%!important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0}
.ExternalClass{width:100%}
.ExternalClass,.ExternalClass div,.ExternalClass font,.ExternalClass p,.ExternalClass span,.ExternalClass td{line-height:100%}
#backgroundTable{margin:0;padding:0;width:100%!important;line-height:100%!important;background-color:#FFF;overflow:hidden}
img{outline:0;-ms-interpolation-mode:bicubic;max-width:100%;height:auto}
a img{border:none}
.image_fix{display:block}
*{font-family:Karla,'Helvetica Neue',Helvetica,sans-serif}
table,tbody,td,thead,tr{border-spacing:0;padding:0;margin:0}
.container{display:block!important;max-width:510px!important;margin:0 auto!important;padding:0 40px;clear:both!important;border:5px solid #000}
.content{margin:0 auto;display:block;background-color:#FFF}
.content.browser-view{background-color:#FFF;padding:10px 0;font-size:12px}
.header-logo{display:block;background:#fff;padding:40px 0 0;width:100%}
.column.column-first,.column.column-one{padding-right:20px;clear:left}
.column.column-last,.column.column-two{padding-left:20px}
.header-logo img{margin-left:11px}
.column{width:245px}
.column.column-first,.column.column-last,.column.column-mid{width:180px}
.full-width{width:100%;border:5px solid #000}
.content table,table.body-wrap,table.footer-wrap,table.head-wrap{width:100%}
table.head-wrap .container{border-bottom:0}
table.body-wrap .container{border-top:0;border-bottom:0}
h1,h2,h3,h4,h5,h6{font-family:Karla,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;line-height:1.1;margin-bottom:15px;color:#000}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-size:60%;color:#272727;line-height:0;text-transform:none}
h1{font-size:44px}
h2{font-size:37px}
h3,h4{font-weight:500}
h3{font-size:27px}
h4{font-size:23px}
h5{font-weight:200;font-size:24px;line-height:32px;margin-top:0}
h6{font-weight:900;font-size:14px;text-transform:uppercase;color:#444}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin-bottom:20px;display:block}
a{color:#EE3440;margin:0;padding:0}
p,ul{margin-bottom:10px;font-weight:200;font-size:16px;line-height:28px;color:#272727}
.email-title{font-weight:200;font-size:27px;margin-top:10px;margin-bottom:15px}
.img-caption{background-color:#e3e3e3;overflow:hidden}
.img-caption p{padding-left:25px;padding-right:25px;font-size:12px}
.social{margin:20px 0 0;padding:20px 0}
.social .social-table{table-layout:auto;width:100%}
.social .social-table td{width:20%;text-align:center}
.chunks{margin:30px 0 0}
.chunks td.column{margin-bottom:35px}
.chunk-title{margin-top:20px}
.how-to-apply{text-align:center;margin:0 0 -2px}
.how-to-apply a{display:block;margin:0}
.caption p{font-size:14px}
.footer{background:#000;color:#FFF}
.footer .content{background:0 0}
.footer .content p{color:#BCBDC0;font-size:12px;line-height:22px;margin-bottom:30px}
.footer .content a{color:#fff}
.footer .content .link-bar{margin:0 0 20px;color:#4d4d4d}
.footer .content .link-bar p{font-size:16px}
.footer .content .link-bar p a{color:#fff}
@media only screen and (max-width:600px){.column{width:100%!important;float:none!important;display:block}
.column-first,.column-last,.column-mid,.column-one,.column-two{padding:0!important;margin-bottom:50px!important}
}