h1,h2{font-weight:700}
a,img{text-decoration:none}
.apply-now,.chunks td.column,.header-logo,.how-to-apply,.vcu-footer{text-align:center}
.caption,.img-caption{overflow:hidden}
#outlook a{padding:0}
body{width:100%!important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0}
.ExternalClass{width:100%}
.ExternalClass,.ExternalClass div,.ExternalClass font,.ExternalClass p,.ExternalClass span,.ExternalClass td{line-height:100%}
#backgroundTable{margin:40px 0 0;padding:0;width:100%!important;line-height:100%!important;background-color:#FFF;overflow:hidden}
img{outline:0;-ms-interpolation-mode:bicubic;max-width:100%;height:auto}
.body-wrap img{max-width:510px;width:100%}
.body-wrap .more-btn{width:auto}
a img{border:none}
.image_fix{display:block}
body *{font-family:Karla,'Helvetica Neue',Helvetica,sans-serif}
body{max-width:100%!important}
html{zoom:1}
html:after,html:before{content:" ";display:table}
html:after{clear:both}
table,tbody,td,thead,tr{border-spacing:0;padding:0;margin:0}
.container{display:block!important;max-width:510px!important;margin:0 auto!important;padding:0 40px;clear:both!important;border:5px solid #000}
.content{margin:0 auto;display:block}
.column.column-one,.column.column-two{margin-top:20px}
.content.browser-view{background-color:#FFF;padding:10px 0;font-size:12px}
.header-logo{display:block;padding:40px 0}
.column{width:100%;display:block}
.column.column-one img,.column.column-two img{max-width:230px!important;width:230px}
.column.column-first,.column.column-last,.column.column-mid{float:left;width:180px}
.column.column-first{padding-right:20px;clear:left}
.column.column-last{padding-left:20px}
.full-width{width:100%;border:5px solid #000}
.content table,table.body-wrap,table.footer-wrap,table.head-wrap{width:100%}
table.head-wrap .container{border-bottom:0}
table.body-wrap .container{border-top:0;border-bottom:0;padding-bottom:40px}
h1,h2,h3,h4,h5,h6{line-height:1.1;margin-bottom:15px;color:#000}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-size:60%;color:#272727;line-height:0;text-transform:none}
.email-title,h6{text-transform:uppercase}
h1{font-size:44px}
h2{font-size:37px}
h3,h4,h5,h6{font-weight:400}
h3{font-size:27px}
h4{font-size:23px}
h5{font-size:24px;line-height:32px;margin-top:0}
h6{font-size:14px;color:#444}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin-bottom:20px;display:block}
a{color:#EE3440;margin:0;padding:0}
p,ul{margin-bottom:10px;font-size:16px;line-height:28px;color:#272727}
.email-title{font-size:22px;margin-top:10px;margin-bottom:25px;font-weight:700}
.img-caption{background-color:#e3e3e3}
.img-caption p{padding-left:25px;padding-right:25px;font-size:12px}
.social{margin:40px 0}
.social .social-table{table-layout:auto;width:100%}
.social .social-table td{width:20%;text-align:center}
.social a{display:inline-block}
.vcu-footer{margin-top:20px}
.chunks{margin:30px 0 0}
.chunks td.column{margin:0 auto}
.chunk-title{margin-top:20px}
.chunk-img,.img-border{border:5px solid #000}
.how-to-apply{margin:0 0 -2px}
.how-to-apply a{display:block;margin:0}
.apply-now{display:block;border:1px solid #FFF;padding:15px 20px;letter-spacing:2px;margin:20px 0 40px}
.caption p{font-size:12px;padding:0;margin:5px 0}
.footer-wrap .container{background:#000}
.footer{color:#FFF}
.footer p{color:#BCBDC0;font-size:12px;line-height:22px;margin-bottom:30px}
.footer a{color:#fff}
.footer .link-bar{margin:0 0 20px;color:#4d4d4d}
.footer .link-bar p{font-size:16px}
.footer .link-bar p a{color:#fff}
.hero-wrap+.content{padding-top:20px}